body {
    background: url('/css/design-desk-family-1534924.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    text-align: left;
}

/* #text {
    line-height: 20cm
} */

.btn.btn-success>a {
    text-decoration: none;
    color: #fff;
}

/* .navbar-brand {
    font-size: 25px
} */